/* MAIN PART  */

/* CAROUSEL */

.carousel {
  background-color: #f0ffff73;

  &__list {
    position: relative;
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    border: 1px solid #e1e7e773;
    list-style-type: none;
    transform: translateY(40%);
    overflow: hidden;
    margin: auto;
  }

  &__item {
    width: 500px;
    height: 500px;
    background-color: green;
    transition: all 0.4s linear;
  }

  &__next {
    position: absolute;
    top: 45%;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
  }

  &__back {
    position: absolute;
    top: 45%;
    left: 10px;
    background: none;
    border: none;
    cursor: pointer;
  }
}

.bx-chevron-right,
.bx-chevron-left {
  color: #000;
  font-size: 54px;
}