/* MAIN PART  */

/* CAROUSEL */

.carousel {
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.400);
  width: 500px;
  height: 500px;
  border-radius: 8px;
  overflow: hidden;

  &__box {
    display: flex;
    transition: transform 0.5s linear;
    transform: translateX(0);
  }

    &__next {
    position: absolute;
    top: 45%;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
  }

  &__back {
    position: absolute;
    top: 45%;
    left: 10px;
    background: none;
    border: none;
    cursor: pointer;
  }
}

img {
  width: 500px;
  height: 500px;
}

.bx-chevron-right,
.bx-chevron-left {
  color: #000;
  font-size: 54px;
}